# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyd

# Virtual Environment
venv/
ENV/
env/
.venv/

# Environment variables
.env
credentials.json
app/config/settings.py
# Byte-compiled / optimized / DLL files
*.so

# macOS
.DS_Store

# Logs
*.log

# Editor settings
.vscode/
.idea/
